.page-section {
  padding: 1.2rem 0;
@media(min-width: 960px) {
  padding: 4.5rem 0;
}


  &--color {
    background-color:	#eac086;

  }

  &--loan-programs {
      background-color: rgba(255,255,255, .3);

    /*@mixin atSmall {
      background-color: #e0e6ef;
    }*/


    @mixin atMedium {
      background: url('../../assets/images/ogden-mountains.jpg') top center no-repeat;
      background-size: cover;
      background-color: rgba(255,255,255, .3);
    }

  }
}
