.wrapper {
  overflow: hidden;

  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;

  img {
    width: 100%;
  }

  &--medium {
    max-width: 976px;
  }

  &--narrow {
    max-width: 470px;
  }
  &--b-margin {
    margin-bottom: 1rem;
    @media(min-width: 660px){
      margin-bottom: 65px;
    }
  }

  &--double-b-margin {
    margin-bottom: 1rem;
    @media(min-width: 660px){
      margin-bottom: 130px;
    }
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  &--no-padding-until-medium {
    padding-left: 0;
    padding-right: 0;
    @mixin atMedium {
      padding-left: 18px;
      padding-right: 18px;
    }

  }
}
