.feature-item {
  position: relative;
  height: 500px;

  padding-bottom: 2.5rem;

  @mixin atSmall {
    padding-left: 100px;
  }

  a {
    position: absolute;
    bottom: 0;
    background-color: #000000;
  }

  &__photo {
  border: 1px solid rgba(255, 255, 255, .8)

  @mixin atSmall {
    position: absolute;
    left: 0;
    }
  }
  &__title {
    margin-top: .6rem;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
  @mixin atSmall {
    text-align: left;
    margin-top: 1rem;
    font-size: 1.875rem;
    font-weight: 300;
    margin-bottom: .8rem;
  }
  }
}
